/* ROOT VARIABLES 
===============================================================
*/
:root {
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  /* /* box-sizing: border-box; */
}
* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--white);
}
.page {
  /* border: 4px solid red; */
  width: 97vw;
  height: 100%;
  background-color: #e6fff5;
  border-radius: 20px;
  overflow-y: scroll;
}

/* 
================================================================
nav
================================================================
*/

.nav {
  display: flex;
  /* border: 4px solid green; */
  height: 65px;
  justify-content: center;
  align-items: center;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 4px solid blue; */
  height: 80%;
  width: 100%;
  margin: 2rem;
  background: #008064;
}

.nav-logo {
  display: flex;
  align-items: center;
  /* border: 4px solid pink; */
}
.nav-logo h3 {
  color: #e6fff5;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-logo img {
  height: 50px;
  padding-left: 5px;
}
.nav-links {
  display: flex;
  position: relative;
  /* border: 4px solid red; */
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1.75rem;
  border-radius: 20px;
}
.hide {
  display: none;
}
.nav-links li {
  color: #e6fff5;
  background-color: #008064;
  padding: 0.5rem 0;
  padding-left: 1rem;
  width: 100%;
  list-style: none;
  font-family: "Comfortaa", cursive;
  color: #e6fff5;
}
.nav-links a {
  text-decoration-line: none;
}
.nav-link {
  color: #e6fff5;
  text-decoration: none;
  list-style: none;
}
.nav-btn button {
  background: none;
  color: #e6fff5;
  border: none;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.nav-btn i:hover {
  animation: spin 0.5s ease-in-out forwards;
}
.nav-btn i {
  animation: spin-out 0.5s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* 
================================================================
hero
================================================================
*/
.hero-ctn {
  display: flex;
  position: relative;
  border: 4px solid pink;
}
.hero-text {
  position: absolute;
  width: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 3rem;
}
.hero-img {
  width: 95vw;
  border-radius: 15px;
}

/* 
================================================================
main
================================================================
*/
.main {
  border: 4px solid blue;
  display: flex;
  position: relative;
}
.main-img {
  width: 95vw;
  border-radius: 15px;
  top: 0;
}
.main-content {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  /* border: 4px solid green; */
  margin: 2rem;
  margin-right: 25rem;
  background-color: #6c6c6c53;
  border-radius: 15px;
}
/* 
================================================================
template
================================================================
*/
