/* ROOT VARIABLES 
===============================================================
*/
:root {
  /* colors */
  --white: #fff;
  /* dimensions */
  --max-width: 1120px;
}
* {
  margin: 0;
  padding: 0;
  /* /* box-sizing: border-box; */
}
* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--white);
}
.page {
  /* border: 4px solid red; */
  width: 97vw;
  height: 100%;
  background-color: #e6fff5;
  border-radius: 20px;
  overflow-y: scroll;
}

/* 
================================================================
nav
================================================================
*/

.nav {
  display: flex;
  /* border: 4px solid green; */
  height: 65px;
  justify-content: center;
  align-items: center;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 4px solid blue; */
  height: 80%;
  width: 100%;
  margin: 1rem;
  background: #008064;
}

.nav-logo {
  display: flex;
  align-items: center;
  /* border: 4px solid pink; */
}
.nav-logo h3 {
  color: #e6fff5;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-logo img {
  height: 50px;
  padding-left: 5px;
}
.nav-links {
  display: flex;
  position: relative;
  /* border: 4px solid red; */
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1.75rem;
  border-radius: 20px;
}
.hide {
  display: flex;
}
.show {
  display: none;
}
.nav-links li {
  color: #e6fff5;
  background-color: #008064;
  padding: 0.5rem 0;
  padding-left: 1rem;
  width: 100%;
  list-style: none;
  font-family: "Comfortaa", cursive;
  color: #e6fff5;
}
.nav-links a {
  text-decoration-line: none;
}
.nav-link {
  color: #e6fff5;
  text-decoration: none;
  list-style: none;
}
.nav-btn button {
  background: none;
  color: #e6fff5;
  border: none;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.nav-btn i:hover {
  animation: spin 0.5s ease-in-out forwards;
}
.nav-btn i {
  animation: spin-out 0.5s ease-in-out forwards;
}

@media screen and (min-width: 850px) {
  .nav-btn {
    display: none;
  }
  .show {
    display: flex;
    flex-direction: row;
  }
  .hide {
    display: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* 
================================================================
hero
================================================================
*/
.hero-ctn {
  display: flex;
  position: relative;
  /* border: 4px solid pink; */
}
.hero-text {
  position: absolute;
  width: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 2.5rem;
}
.hero-img {
  width: 95vw;
  border-radius: 15px;
}

/* 
================================================================
main
================================================================
*/
.main {
  /* border: 4px solid blue; */
  display: flex;
  position: relative;
  margin-top: 0.5rem;
}
.main-img {
  width: 95vw;
  border-radius: 15px;
  top: 0;
}
.main-content {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  /* border: 4px solid green; */
  margin: 1rem;
  margin-right: 25rem;
  background-color: #e6fff579;
  border-radius: 15px;
}
.main-content p {
  padding-top: 1rem;
}
/* 
================================================================
main 2
================================================================
*/
.main2 {
  /* border: 4px solid blue; */
  display: flex;
  position: relative;
}
.main-img2 {
  width: 95vw;
  border-radius: 15px;
  top: 0;
}
.main-content2 {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  /* border: 4px solid green; */
  margin: 1rem;
  background-color: #e6fff579;
  border-radius: 15px;
  left: 20rem;
}
.main-content2 p {
  padding-top: 1rem;
}
/* 
================================================================
footer
================================================================
*/
.page-footer {
  height: 4rem;
  background: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page-footer p {
  margin-bottom: zero;
}

.footer-logo,
.page-footer a {
  color: #008064;
}
/* 
================================================================
main about
================================================================
*/
.main-about-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50vh;
  padding: 1rem;
}
.about-content {
  width: 50%;
  /* border: 4px solid blue; */
  display: flex;
  text-align: center;
  flex-direction: column;
}

.about-content p {
  padding-top: 1rem;
}

/* 
================================================================
form
================================================================
*/
.about-form {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin-right: 3rem;
  /* border: 4px solid red; */
  position: relative;
}
.form-row input {
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.form-row textarea {
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

textarea {
  height: 50px;
  width: 97%;
  box-sizing: border-box;
}
/* 
================================================================
about
================================================================
*/
.main {
  /* border: 4px solid blue; */
  display: flex;
  position: relative;
  margin-top: 0.5rem;
}
.about-img {
  width: 95vw;
  border-radius: 15px;
  top: 0;
}
.main-content {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  /* border: 4px solid green; */
  margin: 1rem;
  margin-right: 25rem;
  background-color: #e6fff579;
  border-radius: 15px;
}
.main-content p {
  padding-top: 1rem;
}
/* 
================================================================
contact
================================================================
*/
.main-content .contact {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  /* border: 4px solid green; */
  margin: 1rem;
  margin-right: 25rem;
  border-radius: 15px;
}
/* 
================================================================
properties
================================================================
*/
.grid-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 4px solid blue;
}
.grid {
  height: 15rem;
  width: 15rem;
  border: 4px solid red;
}
.grid img {
  width: 100%;
  height: 10rem;
}
/* 
================================================================
main about
================================================================
*/
